# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 153fa854d703fc7429047e9ffb9913a96e894961f5187e52b8127d8cf89d43f3d70a41aaf7ce6bf1ccaeb95b6e76baf14fef4a47f863df918b974d5e8b00dfb0

test:
  secret_key_base: 2aa00b7505960d1e3c6e384855993acd41b1ec27e7e7f0053b6bc1e7fe682c00ce848bb35d4f458b5728e13b7fd567f325829cd2a991f05330145e5cd3ae79ec

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
